{% extends "base.html" %}

{% block body %} 
    <div class="container">
        <h1>Reviews</h1>
        {% if tasks|length < 1 %}
            <h5>There are no Tasks. Add them now below.</h5>            
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Sl. No.</th>
                        <th>Reviewer Name</th>
                        <th>Review</th>
                        <th>Reviwed At</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in range(tasks | length) %}
                    <tr>
                        <td>{{ i+1 }}</td>
                        <td>{{ tasks[i].name }}</td>
                        <td>{{ tasks[i].content }}</td>
                        <td>{{ tasks[i].dateCreated }}</td>
                        <td>
                            <button><a href="/delete/{{ tasks[i].id }}">Delete</a></button>
                            <br />
                            <button><a href="/update/{{ tasks[i].id }}">Update</a></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        
        <form action="/" method="post">
            <input type="text" name="name" id="name" placeholder="Enter your Name">
            <input type="text" name="content" id="content" placeholder="Give Review">
            <input type="submit" value="Add Task">
        </form>
    </div>
{% endblock %}